---
import SearchResults from '../components/search/SearchResults.vue';
import Progress from '../components/Progress.astro';
import Layout from '../layouts/Layout.astro';

import { InitialProjects } from '../components/data/projects';
---

<Layout>
  <div id="main-container" class="container">
    <Progress />
    <article id="projects" class="block">
      <section class="block">
        <h1>Projects</h1>
        <SearchResults client:visible initialProjects={InitialProjects} />
      </section>
    </article>
  </div>
</Layout>
