<section class="block">
  <h2>To be implemented</h2>

  <p>
    This is a prototype to replace the existing website with more modern
    technology, and should not be replaced without completing this list of
    features:
  </p>

  <ul class="progress">
    <li class="done">Only render projects that have open issues</li>
    <li class="done">Search for projects using unified text input</li>
    <li class="done">
      Favour active projects but allow searching further back
    </li>
    <li>Finish refreshing visual style of site</li>
    <li class="done">Synchronize form parameters with query string state</li>
    <li class="done">
      Port existing tests over to new codebase (and add more)
    </li>
    <li>Render most popular tags</li>
    <li>Render dark mode stylings</li>
    <li>
      Add support for responsive styling to support desktop/mobile screen sizes
    </li>
    <li>Search for projects based on tag</li>
    <li class="done">Project render order is randomized per publish</li>
  </ul>
</section>
